name: Publish haakco/postgres13  Docker image

on:
  push:
    branches:
      - master
  workflow_dispatch:
  schedule:
    - cron: '30 08 * * 6'

jobs:
  push_to_registry:
    name: Push Docker image haakco/postgres13 to Docker Hub
    runs-on: [ self-hosted, Linux, X64 ]
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: haakco/postgres13
          tags: |
            type=raw,value={{branch}}-{{sha}}
            type=raw,value=latest
            type=ref,event=branch
            type=ref,event=pr
            type=ref,event=tag
            type=schedule,pattern={{date 'YYYYMMDD'}}
      - name: Log in to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Build and push Docker image
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          build-args:   |
            POSTGRES_VERSION=13
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=registry,ref=haakco/postgres13:buildcache-x64
          cache-to: type=registry,ref=haakco/postgres13:buildcache-x64,mode=max
